/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, #add-task input,
.edit-task input, .edit-task input:focus,
#add-task input:focus {
  font-family: "Fira Mono", monospace;
  color: #222222;
  font-size: 1em;
  line-height: 1.5;
}

@media (min-width: 64em) {
  body, #add-task input,
  .edit-task input, .edit-task input:focus,
  #add-task input:focus {
    font-size: 1.2em;
    line-height: 1.8;
  }
}

@media (min-width: 85.375em) {
  body, #add-task input,
  .edit-task input, .edit-task input:focus,
  #add-task input:focus {
    font-size: 1.3em;
  }
}

@media (min-width: 120em) {
  body, #add-task input,
  .edit-task input, .edit-task input:focus,
  #add-task input:focus {
    font-size: 1.4em;
  }
}

@media (min-width: 160em) {
  body, #add-task input,
  .edit-task input, .edit-task input:focus,
  #add-task input:focus {
    font-size: 1.5em;
  }
}

@media (min-width: 64em) {
  header, .container {
    margin: 0 8%;
  }
}

@media (min-width: 85.375em) {
  header, .container {
    margin: 0 12%;
  }
}

@media (min-width: 120em) {
  header, .container {
    margin: 0 18%;
  }
}

body {
  background: #ffffff;
}

header {
  padding: .5em;
  margin: 0 4%;
}

.container {
  margin: 0 8%;
  border: 5px #7bcad4;
}

h1 {
  font-family: "PT Mono", monospace;
  font-size: 2em;
  text-transform: capitalize;
}

#add-task input,
.edit-task input {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
}

.edit-task input:focus,
#add-task input:focus {
  -webkit-box-shadow: none;
  border-color: inherit;
  box-shadow: none;
  font-size: inherit;
  font-family: inherit;
}

#todo-list li .view button {
  visibility: hidden;
}

#todo-list {
  list-style: decimal;
}

#todo-list li {
  padding: .5rem;
}

#todo-list li > * {
  float: left;
  margin-right: 1em;
}

#todo-list input {
  border-bottom: 2px solid #dadada;
}

#line {
  position: absolute;
  left: 20%;
  top: 10%;
  height: 500px;
  border-left: 2px solid #c27070;
}

.edit-date {
  border-left: 1px solid #9b9b9b;
}

#todo-list li > *:hover,
.focused {
  border-color: #7bcad4 !important;
}

.ic-removing {
  opacity: 0;
  transition: all .3s ease;
}
