@import 'reset';
$primary-font: "Fira Mono",
monospace;
$title-font: "PT Mono",
monospace;
$primary-color: #222222;
$primary-color-light: #8d8d8d;
$secondary-color: #07bcad;
$red: #c27070;
$bg-color: #ffffff;
$module-breakpoint: 20em;
// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px
// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
$base-line-height: 1.5;
$header-line-height: 1.25;
$base-font-size: 1em;
%font {
    font-family: $primary-font;
    color: $primary-color;
    font-size: $base-font-size;
    line-height: $base-line-height;
    @media #{$mq-medium} {
        font-size: $base-font-size*1.2;
        line-height: $base-line-height*1.2;
    }
    @media #{$mq-large} {
        font-size: $base-font-size*1.2;
    }
    @media #{$mq-xlarge} {
        font-size: $base-font-size*1.3;
    }
    @media #{$mq-xxlarge} {
        font-size: $base-font-size*1.4;
    }
}

%mq-margin {
    @media #{$mq-small} {
        margin: 0 8%;
    }
    @media #{$mq-medium} {
        margin: 0 12%;
    }
    @media #{$mq-large} {
        margin: 0 18%;
    }
    @media #{$mq-xlarge} {
        margin: 0 24%;
    }
}

body {
    @extend %font;
    background: $bg-color;
}

header {
    @extend %mq-margin;
    width: 20em;
    padding: .5em;
    padding-bottom: .3em; // margin: 0 auto;
    //     border-bottom: 2px solid #a55252;
}

.container {
    // border: 5px #7bcad4;
    @extend %mq-margin;
}

h1 {
    font-family: $title-font;
    font-size: 1.5em; // text-decoration: underline;
    text-transform: capitalize;
    color: $primary-color;
}

main {
}

h1:nth-child(1) {
    color: $secondary-color;
}

h1:nth-child(2) {
    color: $secondary-color;
}

%todo-form {
    @extend %font;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
}

%todo-form-focus {
    @extend %font;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: inherit;
    font-family: inherit; //     border-bottom: 2px solid #253638;
}

#add-task input,
.edit-task input {
    @extend %todo-form;
}

.edit-task input:focus,
#add-task input:focus {
    @extend %todo-form-focus;
}

#todo-list {
    width: 100%;
    list-style: disc;
}

#todo-list form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#todo-list li {
    padding: .5rem;
}

#todo-list input {
    border-bottom: 2px solid $bg-color;
}

.edit-task input:hover {
    border-color: $secondary-color !important;
}

#todo-list form>* {
    padding: 0 .5em 0 .5em;
}

.input-name {
    max-width: 70%;
}

.input-date {
    text-align: center;
    color: $primary-color-light;
}

.input-date input {
    width: 5em;
    padding: 0 .5em;
}

.pomo-countdown {
    color: $primary-color-light;
}

#add-task input {
    border-bottom: 2px solid $secondary-color !important;
}

#line {
    position: absolute;
    left: 20%;
    top: 10%;
    height: 500px;
    border-left: 2px solid #c27070;
    width: 1px;
}

.focused {
    border-color: $secondary-color !important;
}

.actions {
    visibility: hidden;
}

.actions input:hover {
    background: #e3f8f8;
}

.actions>* {
    width: 1em;
    margin-left: 1em;
    margin-top: .1em;
    float: left;
    padding: .2em;
}

// .focused {
//     border-bottom: 2px solid #9b9b9b;
// } // #editing, #new-task {
//     border-color: #7bcad4 !important;
// }
.ic-removing {
    opacity: 0;
    transition: all .3s ease;
}