<li>
    <div class="view">
        <form id="add-task" ic-post-to="/todos" ic-target="closest li" ic-replace-target="true">

            <input class="input-name" placeholder="hey. do something." name="task-name" autofocus="autofocus">
            <label>
                due:
                <input class="input-date" data-toggle="datepicker" name="date">
            </label>
            <button type="submit">add</button>
        </form>
    </div>
</li>