<form id="add-todo" ic-post-to="/todos">
    <input
        id="new-todo"
        placeholder="hey. do something."
        name="todo-name"
        ic-target="#add-todo"
        ic-replace-target="true"
        autofocus="autofocus">
</form>