<li>
    ## <form id="edit-todo" ic-replace-target="true" ic-target="closest li" ic-put-to="/todos/$todo.id">
    <form class="edit-task"
            ic-target="closest li"
            ic-put-to="/todos/$task.id"
            ic-replace-target= "true">

        <input
            ic-target="closest li"
            ic-trigger-on="blur"
            ic-put-to="/todos/$task.id"
            ic-replace-target= "true"
            name="task-name"
            class="input-name"
            value="$task.name"
            pattern=".+"/>
        ## <input
        ##     class="edit-date"
        ##     type="date"
        ##     ic-replace-target="true"
        ##     ic-target="closest li"
        ##     ic-trigger-on="blur"
        ##     ic-put-to="/todos/$todo.id"
        ##     name="todo-name"
        ##     placeholder="date"
        ##     value="$todo.name"/>
        ## <input class="edit-name" name="todo-name" value="$todo.name" pattern=".+"/>
        <label>
            due:
            <input
                class="input-date"
                ic-target="closest li"
                ic-trigger-on="blur"
                ic-put-to="/todos/$task.id"
                ic-replace-target= "true"
                data-toggle="datepicker"

                name="task-date"
                #if($task.dueDate)
                    value="$task.date()"
                #end>
        </label>
        <span
        class="destroy"
        ic-delete-from="/todos/$task.id"
        ic-target="closest li"
        ic-replace-target="true">x</span>
    </form>
</li>