<li>
    <div class="view">
        <form id="edit-todo" ic-replace-target="true" ic-target="closest li" ic-put-to="/todos/$todo.id">
            ##
            <form id="edit-todo">
                <input
                        ic-replace-target="true"
                        ic-target="closest li"
                        ic-trigger-on="blur"
                        ic-put-to="/todos/$todo.id"
                        name="todo-name"
                        class="edit"
                        value="$todo.name"
                        autofocus="autofocus"
                        pattern=".+"/>
            </form>
    </div>
</li>