<li>
    <form class="edit-task" ic-target="closest li"
        ic-put-to="/todos/$task.id" ic-swap-style="append">            
        <input
            ic-target="closest li"
            ic-trigger-on="blur"
            ic-put-to="/todos/$task.id"
            name="task-name"
            class="input-name width-dynamic"
            value="$task.name"
            ic-swap-style="append"
            pattern=".+"/>
        ## <input
        ##     class="edit-date"
        ##     type="date"
        ##     ic-replace-target="true"
        ##     ic-target="closest li"
        ##     ic-trigger-on="blur"
        ##     ic-put-to="/todos/$todo.id"
        ##     name="todo-name"
        ##     placeholder="date"
        ##     value="$todo.name"/>
        ## <input class="edit-name" name="todo-name" value="$todo.name" pattern=".+"/>
        <label class="input-date"
            #if(!$task.dueDate || $task.dueDate.trim() == "")
                style="visibility:hidden"
            #end
            >
            due by
            <input
                ic-target="closest li"
                ic-trigger-on="blur"
                ic-put-to="/todos/$task.id"
                data-toggle="datepicker"
                placeholder="m-d-yy"
                name="task-date"
                #if($task.dueDate)
                    value="$task.dueDate.trim()"
                #end>
        </label>
        <span class="pomo-countdown"></span>
        <input type="submit" style="display:none"    
            ic-target="closest li"
            ic-put-to="/todos/$task.id"
            ic-swap-style="append"
            ic-on-success=blurOnSubmit()>            
        <div class="actions">
            <input type="image"
                class="button-delete"
                alt="delete task"
                src="images/delete-task-icon.svg"
                ic-trigger-on="click"
                ic-delete-from="/todos/$task.id"
                ic-target="closest li"
                ic-replace-target="true">
            <input type="image"
                class="button-delete"
                alt="delete task"
                src="images/check-icon.svg"
                ic-trigger-on="click"
                ic-delete-from="/todos/complete/$task.id"
                ic-target="closest li"
                ic-replace-target="true">
            <input type="image" alt="start pomo timer" src="images/pomo-timer-icon.svg" class="button-pomo">
        </div>
    </form>
</li>