<li>
    <form class="edit-task" ic-target="closest li"
        ic-put-to="/todos/$task.idx" ic-swap-style="append">            
        <input 
            ic-target="closest li"
            ic-trigger-on="blur"
            ic-put-to="/todos/$task.idx"
            name="task-name"
            class="input-name width-dynamic" 
            value="$task.name"
            ic-swap-style="append"
            pattern=".+"/> 
            
            
        <label class="input-date"
            #if(!$task.dueDate || $task.dueDate.trim() == "")
                style="visibility:hidden"
            #end
            >
            due by
            <input
                ic-target="closest li"
                ic-trigger-on="blur"
                ic-put-to="/todos/$task.idx"
                data-toggle="datepicker"
                placeholder="m-d-yy"
                name="task-date"
                #if($task.dueDate)
                    value="$task.dueDate().trim()"
                #end>
        </label>
        <span class="pomo-countdown"></span>
        <input type="submit" style="display:none"    
            ic-target="closest li"
            ic-put-to="/todos/$task.idx"
            ic-swap-style="append"
            ic-on-success=blurOnSubmit()>            
        <div class="actions">
            <i 
                class="button-delete material-icons"
                alt="delete task"
                ic-trigger-on="click"
                ic-delete-from="/todos/$task.idx"
                ic-target="closest li"
                ic-replace-target="true">
                delete </i>
            <i
                class="button-done material-icons"
                alt="delete task"
                ic-trigger-on="click"
                ic-delete-from="/todos/complete/$task.idx"
                ic-target="closest li"
                ic-replace-target="true">check</i>
            <i class="material-icons button-pomo" alt="start pomo timer">
            timer
            </i>
            <span class="pomo-complete-cnt material-icons">$task.pomoCount<span>
        </div>
    </form>
</li>