<!doctype html>
<html lang="en" data-framework="intercoolerjs">
    <head>
        <meta charset="utf-8">
        <title>Something Todo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Fira+Mono:400,700|PT+Mono" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <main class="container">
            <ol id="todo-list">
                #foreach($todo in $todos)
                    #parse("velocity/task.vm") 
                #end
                #parse("velocity/addtodo.vm") 
            </ol>
        </main>
        ## <div id="info">
        ##     <p>Double-click to edit a todo</p>
        ## </div>
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/intercooler-1.2.1.min.js"></script>
        <script src="/js/todo.js"></script>
    </body>
</html>